* {
  margin: 0;
}

body {
  font-family: "Noto Sans Jp", sans-serif;
  color: #1a759f;
  text-align: center;
}

header {
  margin: 0;
  background-color: #cddafd;
  padding: 30px;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.nav-bar {
  width: 100%;
  margin: 0 auto;
}

.nav-title {
  float: left;
}

.nav-indice {
  float: right;
  margin-right: 60px;
}

.nav-indice ul {
  margin: 0;
  padding: 0 0 0 10px;
  list-style: none;
}

.nav-indice li {
  display: inline-block;
  margin-left: 10px;
  padding-top: 0px;
}

.teste {
  width: 100%;
  background-color: #fff;
  margin-top: 0;
}

.persoinfo {
  margin: auto;
  width: 40%;
  height: 300px;
}
.personal-description {
  float: left;
  padding: 48px;
  display: block;
  text-align: center;
  width: 40%;
}

.persoimg img {
  float: right;

  border-radius: 100%;
  display: block;
  padding: 48px;
}

.name {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #b7b7a4;
  font-weight: 700;
}

#aboutme {
  font-family: monospace;
  margin: 30px;
}

#personal {
  margin-bottom: 30px;
}

#socialmedia {
  margin-bottom: 30px;
}

.button {
  background-color: #cfdbd5;
  padding: 5px 10px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 900;
  margin-bottom: 30px;
}

a:hover {
  background-color: blueviolet;
}

.student {
  font-weight: 800;
}

.externals {
  text-decoration: none;
  font-weight: 900;
  background-color: #cfdbd5;
  padding: 5px 10px;
  border-radius: 5px;
}

.indice {
  text-align: center;
  margin-bottom: 60px;
}

.media a:hover {
  background-color: blueviolet;
}

.external a:hover {
  background-color: blueviolet;
}

.skill-list {
  width: 30%;
  margin: auto;
  padding: 10px 10px;
  list-style: none;
  text-align: center;
}

.aboutme-list {
  width: 30%;
  margin: auto;
  padding: 10px 10px;
  list-style: none;
  text-align: center;
}

.lists {
  background-color: #dfe7fd;
  list-style: none;
  display: block;
}

.media {
  text-align: center;
  background-color: #fff;
}

.external {
  text-align: center;
}

.teste2 {
}

.teste3 {
  background-color: #fff;
}

.teste4 {
  background-color: #dfe7fd;
  padding: 30px;
}
